<%- include('partials/header') %>

<main>
    <%- include('partials/fruits') %>
    <%- include('partials/legumes') %>
    <%- include('partials/tuto') %>
    <%- include('partials/userManagement') %>
</main>

<%- include('partials/footer') %>
